[submodule "deps/libsodium"]
	path = deps/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "deps/sqlite3"]
	path = deps/sqlite3
	url = https://gitea.husarion.com/husarion/sqlite3-dist.git
