build/
unix/build/
default_wifi_config.h
/notes.md
/husarnet.c
__pycache__/
.mypy_cache/
/deb-build
/id?
/build-win
/build-gui-*
platforms/esp32/managed_components
platforms/esp32/dependencies.lock
platforms/esp32/sdkconfig
platforms/esp32/sdkconfig.old

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

tags
compile_commands.json

.ccls-cache

# jetbrains
.idea
