[Unit]
Description=Husarnet Self-hosted License Refresh
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/husarnet refresh-license
Environment=HUSARNET_VERBOSE=1

[Install]
WantedBy=multi-user.target
