jobs:
  deply_arch_repo:
    runs-on: 
      - "self-hosted"
      - "linux"
      - "nightly"
    steps:
      - name: Update arch repo
        run: cd /opt/arch-add-repo/ && sudo docker compose up -d
"on":
  push:
    branches:
      - "master"
  workflow_dispatch: {}
