jobs:
  build_docker:
    needs:
      - "build_unix"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Pull artifacts"
        uses: "actions/download-artifact@v3"
        with:
          name: "packages"
          path: "./build/release/"
      - name: "Set up QEMU"
        uses: "docker/setup-qemu-action@v2"
      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@v2"
        with:
          driver-opts: "image=moby/buildkit:v0.10.5"
          version: "latest"
      - name: "Login to Docker Registry"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.HNETUSER_DOCKERHUB_PASSWORD }}"
          registry: "docker.io"
          username: "${{ secrets.HNETUSER_DOCKERHUB_LOGIN }}"
      - name: "Login to GHCR"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: "ghcr.io"
          username: "${{ github.actor }}"
      - name: "Prepare build"
        run: "./platforms/docker/build.sh ${{matrix.arch_alias}}"
      - name: "Build and push"
        uses: "docker/build-push-action@v3"
        with:
          context: "."
          file: "./platforms/docker/Dockerfile"
          platforms: "${{matrix.arch}}"
          push: false
          tags: "husarnet/husarnet-nightly:${{matrix.arch_alias}}"
    strategy:
      matrix:
        include:
          - arch: "linux/amd64"
            arch_alias: "amd64"
          - arch: "linux/arm64/v8"
            arch_alias: "arm64"
          - arch: "linux/arm/v7"
            arch_alias: "armhf"
  build_unix:
    needs: []
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Login to GHCR"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: "ghcr.io"
          username: "${{ github.actor }}"
      - name: "Docker run ghcr.io/husarnet/husarnet:builder"
        run: "docker run --rm --privileged --volume $(pwd):/app ghcr.io/husarnet/husarnet:builder /app/platforms/unix/build.sh ${{matrix.arch}}"
      - name: "Push artifacts"
        uses: "actions/upload-artifact@v3"
        with:
          if-no-files-found: "error"
          name: "packages"
          path: "./build/release/*${{matrix.arch}}*"
    strategy:
      matrix:
        arch:
          - "amd64"
          - "i386"
          - "arm64"
          - "armhf"
          - "riscv64"
  build_windows:
    needs: []
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Login to GHCR"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: "ghcr.io"
          username: "${{ github.actor }}"
      - name: "Docker run ghcr.io/husarnet/husarnet:builder"
        run: "docker run --rm --privileged --volume $(pwd):/app ghcr.io/husarnet/husarnet:builder /app/platforms/windows/build.sh"
      - name: "Push artifacts"
        uses: "actions/upload-artifact@v3"
        with:
          if-no-files-found: "error"
          name: "packages"
          path: "./build/release/*win64*"
  build_windows_installer:
    needs:
      - "build_windows"
    runs-on: "windows-2019"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Pull artifacts"
        uses: "actions/download-artifact@v3"
        with:
          name: "packages"
          path: "./build/release/"
      - name: "Copy .exe and license to installer dir"
        run: |
          copy build\release\husarnet-daemon-windows-win64.exe platforms\windows\husarnet-daemon.exe
          copy build\release\husarnet-windows-win64.exe platforms\windows\husarnet.exe
          copy LICENSE.txt platforms\windows
        shell: "cmd"
      - name: "Building the installer"
        run: |
          "%programfiles(x86)%\Inno Setup 6\iscc.exe" platforms\windows\script.iss
          copy platforms\windows\Output\husarnet-setup.exe build\release\husarnet-setup.exe
        shell: "cmd"
      - name: "Push artifacts"
        uses: "actions/upload-artifact@v3"
        with:
          if-no-files-found: "error"
          name: "packages"
          path: "./build/release/*setup*"
  run_integration_tests:
    needs:
      - "build_unix"
      - "build_docker"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Pull artifacts"
        uses: "actions/download-artifact@v3"
        with:
          name: "packages"
          path: "./build/release/"
      - name: "Login to GHCR"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: "ghcr.io"
          username: "${{ github.actor }}"
      - name: "Login to Docker Registry"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.HNETUSER_DOCKERHUB_PASSWORD }}"
          registry: "docker.io"
          username: "${{ secrets.HNETUSER_DOCKERHUB_LOGIN }}"
      - name: "Save a password for unlocking a shared secrets repository in a known place"
        run: "echo '${{ secrets.SHARED_SECRETS_PASSWORD }}' > tests/integration/secrets-password.bin"
      - name: "Docker run ${{matrix.container_name}}"
        run: "docker run --rm --privileged --volume $(pwd):/app ${{matrix.container_name}} /app/tests/integration/runner.sh ${{matrix.test_platform}} ${{matrix.test_file}}"
    strategy:
      matrix:
        include:
          - container_name: "husarnet/husarnet-nightly:amd64"
            test_platform: "docker"
          - container_name: "ubuntu:18_04"
            test_platform: "debian_ubuntu"
          - container_name: "ubuntu:20_04"
            test_platform: "debian_ubuntu"
          - container_name: "ubuntu:22_04"
            test_platform: "debian_ubuntu"
          - container_name: "debian:oldstable"
            test_platform: "debian_ubuntu"
          - container_name: "debian:stable"
            test_platform: "debian_ubuntu"
          - container_name: "debian:testing"
            test_platform: "debian_ubuntu"
          - container_name: "fedora:37"
            test_platform: "fedora"
          - container_name: "fedora:38"
            test_platform: "fedora"
        test_file:
          - "functional-basic"
          - "join-workflow"
  run_tests:
    needs: []
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"
        with:
          ref: "${{ github.ref }}"
      - name: "Login to GHCR"
        uses: "docker/login-action@v2"
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: "ghcr.io"
          username: "${{ github.actor }}"
      - name: "Docker run ghcr.io/husarnet/husarnet:builder"
        run: "docker run --rm --privileged --volume $(pwd):/app ghcr.io/husarnet/husarnet:builder /app/daemon/format.sh"
      - name: "Docker run ghcr.io/husarnet/husarnet:builder"
        run: "docker run --rm --privileged --volume $(pwd):/app ghcr.io/husarnet/husarnet:builder /app/tests/test.sh"
name: "Pull request workflow"
"on":
  pull_request:
    branches:
      - "master"
      - "hotfix"
